            <div class="top-container">
                {{#DocumentHeader}}{{/DocumentHeader}}
                {{#DocumentTabsButtons}}{{/DocumentTabsButtons}}
            </div>

            <div class="bottom-container">
                {{#DocumentFormLeft}}
                    {{#FieldLeft title Title required}}{{/FieldLeft}}
                    {{#FieldLeft body Body}}{{/FieldLeft}}
                    {{#FieldLeft description Summary}}{{/FieldLeft}}
                    {{{id}}}
                {{/DocumentFormLeft}}                 
                
                {{#DocumentFormRight}}
                	{{#FieldFull status}}{{/FieldFull}}
                	<br />
                	{{#FieldFull display_date}}{{/FieldFull}}
                	<br />
                	<hr />
                	<br />
                	{{#FieldLeft featured}}{{/FieldLeft}}
                	<br />
                	{{#FieldLeft pinned}}{{/FieldLeft}}
                	<br />
                	{{#FieldLeft comments}}{{/FieldLeft}}
                	
                {{/DocumentFormRight}}
            </div>