            <div class="top-container">
                {{#DocumentHeader}}{{/DocumentHeader}}
                {{#DocumentTabsButtons}}{{/DocumentTabsButtons}}
            </div>

            <div class="bottom-container">
                {{#DocumentFormLeft}}
<<<<<<< HEAD
                    {{#FieldLeft label Label required}}{{/FieldLeft}}
                    {{#FieldLeft url URL required}}{{/FieldLeft}}
                    {{#FieldEmbedded link menu_links}}{{/FieldEmbedded}}
=======
                    {{#FieldLeft title Title required}}{{/FieldLeft}}
                    {{#FieldLeft body}}{{/FieldLeft}}
>>>>>>> b5dab112631ec02510641c40923c8012c84e9a5c
                    {{{id}}}
                {{/DocumentFormLeft}}                 
                
                {{#DocumentFormRight}}
                	{{#FieldFull status}}{{/FieldFull}}
                	<br />
                	{{#FieldFull display_date}}{{/FieldFull}}
                	<br />
                	<hr />
                	<br />
                	{{#FieldLeft featured}}{{/FieldLeft}}
                	<br />
                	{{#FieldLeft pinned}}{{/FieldLeft}}
                	<br />
                	{{#FieldLeft comments}}{{/FieldLeft}}
                	
                {{/DocumentFormRight}}
            </div>