			<div class="top-container">
				{{#DocumentHeader}}{{/DocumentHeader}}
		        {{#DocumentTabsButtons}}{{/DocumentTabsButtons}}
		    </div>
		    <div class="bottom-container">
			    {{#DocumentFormLeft}}
			    	{{#FieldLeft title Title required}}{{/FieldLeft}}
			    	{{#FieldLeft body required}}{{/FieldLeft}}
			    	{{{id}}}
			    {{/DocumentFormLeft}}
				{{#DocumentFormRight}}{{/DocumentFormRight}}
			</div>