			{{#Form}}{{/Form}}
				<div class="top-container">
					{{#DocumentHeader}}{{/DocumentHeader}}
			        {{#DocumentTabs}}{{/DocumentTabs}}
			    </div>
			    <div class="bottom-container">
			        <div class="ui tab active" data-tab="Main">
				        {{#DocumentFormLeft}}
				    	    {{#FieldLeft title Title required}}{{/FieldLeft}}
				    	    {{#FieldLeft body required}}{{/FieldLeft}}
				    	    {{{id}}}
				        {{/DocumentFormLeft}}
					    {{#DocumentFormRight}}
						    {{#DocumentButton}}{{/DocumentButton}}
						    {{#FieldFull tags Tags}}{{/FieldFull}}
					    {{/DocumentFormRight}}
					</div>
				</div>
			</form>