			<div class="top-container">
				{{#DocumentHeader}}{{/DocumentHeader}}
		        {{#DocumentTabsButtons}}{{/DocumentTabsButtons}}
		    </div>
		    {{#DocumentFormLeft}}
		    	<div class="ui form">
			    	<div class="field">
			        	<label>Title</label>
			        	<div class="ui left labeled input">
			            	{{{title}}}
			            	<div class="ui corner label"><i class="icon asterisk"></i></div>
			        	</div>
			    	</div>
			    	<div class="field">
			        	<label>Body</label>
			        	<div class="ui left labeled input">
			            	{{{body}}}
			            	<div class="ui corner label"><i class="icon asterisk"></i></div>
			        	</div>
			    	</div>
			    	{{{id}}}
			    </div>
			{{/DocumentFormLeft}}
			{{#DocumentFormRight}}{{/DocumentFormRight}}