            <div class="top-container">
                {{#DocumentHeader}}{{/DocumentHeader}}
                {{#DocumentTabsButtons}}{{/DocumentTabsButtons}}
            </div>

            <div class="bottom-container">
                {{#DocumentFormLeft}}
                    {{#FieldLeft title Title required}}{{/FieldLeft}}
                    {{#FieldLeft description Body}}{{/FieldLeft}}
                    {{#FieldLeft short_description Summary}}{{/FieldLeft}}
                    {{#FieldLeft image Book Cover Image}}{{/FieldLeft}}
                    {{#FieldLeft link URL}}{{/FieldLeft}}
                    {{#FieldLeft price Price}}{{/FieldLeft}}
                    {{{id}}}
                {{/DocumentFormLeft}}                 
                
                {{#DocumentFormRight}}
                {{#FieldFull status}}{{/FieldFull}}
                <br />
                {{#FieldLeft featured}}{{/FieldLeft}}
                {{/DocumentFormRight}}
            </div>