        	{{#Form}}{{/Form}}
	            <div class="top-container">
	                {{#DocumentHeader}}{{/DocumentHeader}}
	                {{#DocumentTabs}}{{/DocumentTabs}}
	            </div>

	            <div class="bottom-container">
	                {{#DocumentFormLeft}}
	                    {{#FieldLeft title Title required}}{{/FieldLeft}}
	                    {{#FieldLeft description Description required}}{{/FieldLeft}}
	                    {{#FieldEmbedded carousel_individual subcarousels Frames}}{{/FieldEmbedded}}
	                    {{{id}}}
	                {{/DocumentFormLeft}}                 
	                
	                {{#DocumentFormRight}}
	                	{{#DocumentButton}}{{/DocumentButton}}
	                	{{#FieldFull tags Tags}}{{/FieldFull}}
	                {{/DocumentFormRight}}
	            </div>
	        </form>