        	{{#Form}}{{/Form}}
	            <div class="top-container">
	                {{#DocumentHeader}}{{/DocumentHeader}}
	                {{#DocumentTabs}}{{/DocumentTabs}}
	            </div>

	            <div class="bottom-container">
	                <div class="ui tab active" data-tab="Main">
	                    {{#DocumentFormLeft}}
                            {{#FieldLeft title Title required}}{{/FieldLeft}}
	                        {{#FieldLeft image "File Upload" required}}{{/FieldLeft}}
                            {{#FieldLeft image "File Upload" required}}{{/FieldLeft}}
	                        {{{id}}}
	                    {{/DocumentFormLeft}}                 
	                
	                    {{#DocumentFormRight}}
		                    {{#DocumentButton}}{{/DocumentButton}}
	                    {{/DocumentFormRight}}
	                </div>
	            </div>
	        </form>