			{{#Form}}{{/Form}}
				<div class="top-container">
					{{#DocumentHeader}}{{/DocumentHeader}}
			        {{#DocumentTabs}}{{/DocumentTabs}}
			    </div>
			    <div class="bottom-container">
			        <div class="ui tab active" data-tab="Main">
				        {{#DocumentFormLeft}}
				    	    {{#FieldLeft title Title required}}{{/FieldLeft}}
	                        {{#FieldLeft url URL}}{{/FieldLeft}}
	                        {{#FieldLeft target Target}}{{/FieldLeft}}
	                        {{#FieldLeft description Summary}}{{/FieldLeft}}
	                        {{{id}}}
				        {{/DocumentFormLeft}}
					    {{#DocumentFormRight}}
						    {{#DocumentButton}}{{/DocumentButton}}
					    {{/DocumentFormRight}}
					</div>
					<div class="ui tab" data-tab="Images">
	                    {{#DocumentFormLeft}}
	                        {{#FieldLeft image Image}}{{/FieldLeft}}
	                    {{/DocumentFormLeft}}                 
	                
	                    {{#DocumentFormRight}}
		                    {{#DocumentButton}}{{/DocumentButton}}
	                    {{/DocumentFormRight}}
	                </div>
			    </div>
			</form>