<h1>login</h1>
<form class="ui form segment" data-xhr="true" method="post" action="/Manager/form/login">
    <div class="field">
        <label>Email</label>
        <div class="ui left labeled input">
            {{{email}}}
            <div class="ui corner label">
            	<i class="icon asterisk"></i>
            </div>
        </div>
    </div>

    <div class="field">
        <label>Password</label>
        <div class="ui left labeled input">
            {{{password}}}
            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    {{{id}}}
	<input type="submit" class="ui blue submit button" value="Login" />
</form>