            {{#Form}}{{/Form}}
                <div class="top-container">
                    {{#DocumentHeader}}{{/DocumentHeader}}
                    {{#DocumentTabs}}{{/DocumentTabs}}
                </div>

                <div class="bottom-container">
                    {{#DocumentFormLeft}}
                        {{#FieldLeft label Label required}}{{/FieldLeft}}
                        {{#FieldLeft url URL required}}{{/FieldLeft}}
                        {{#FieldLeft file Image}}{{/FieldLeft}}
                        {{#FieldEmbedded link menu_links}}{{/FieldEmbedded}}
                        {{{id}}}
                    {{/DocumentFormLeft}}                 
                    
                    {{#DocumentFormRight}}
                        {{#DocumentButton}}{{/DocumentButton}}
                    {{/DocumentFormRight}}
                </div>
            </form>