            <div class="top-container">
                {{#DocumentHeader}}{{/DocumentHeader}}
                {{#DocumentTabs}}{{/DocumentTabs}}
            </div>

            <div class="bottom-container">
                 <div class="ui tab active" data-tab="Main">
                     {{#DocumentFormLeft}}
                         {{#FieldLeft title Title required}}{{/FieldLeft}}
                         {{#FieldLeft body Body}}{{/FieldLeft}}
                         {{{id}}}
                     {{/DocumentFormLeft}}                 
                
                     {{#DocumentFormRight}}
                	    {{#DocumentButton}}{{/DocumentButton}}
	                    {{#FieldFull status}}{{/FieldFull}}
	                    <br />
	                    {{#FieldFull categories Categories}}{{/FieldFull}}
	                	{{#FieldFull tags Tags}}{{/FieldFull}}
                     {{/DocumentFormRight}}
                 </div>
                 <div class="ui tab" data-tab="SEO">
	                {{#DocumentFormLeft}}
	                    {{#FieldLeft code_name Slug}}{{/FieldLeft}}
	                    {{#FieldLeft metadata_description Description}}{{/FieldLeft}}
	              		{{#FieldLeft metadata_keywords Keywords}}{{/FieldLeft}}
	                {{/DocumentFormLeft}}
	                
	                {{#DocumentFormRight}}
		                {{#DocumentButton}}{{/DocumentButton}}
	                {{/DocumentFormRight}}
	            </div>
            </div>