/* GLOBAL */

@media (min-width: 1400px) {
    .ui.page.grid {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
}

/* LOGIN */

#manager-login-form {
    width: 50%;
    margin: auto;
    padding-top: 3em;
}

#manager-login-form > .message {
    margin-top: 0px !important;
}

@media (max-width: 768px) {
    #manager-login-form {
        width: 100%;
        margin: none;
    }
}

/* HEADER */

#manager-search {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#manager-masthead {
    margin-top: 0px !important;
}

#manager-topbar {
    background-color: #1B1C1D;
}

#manager-topbar .row:last-child {
    padding-top: 0px !important;
}

#manager-nav-logout {
    float: right;
    margin-top: .5em;
}

@media (max-width: 768px) {
    #manager-topbar {
        padding-top: 2rem;
    }
}

/* DASHBOARD */

#manager-dashboard-cards .card {
    margin-bottom: 2em;
}

#manager-dashboard-cards .normal.icon {
    display: none;
}

@media (max-width: 768px) {
    #manager-topbar .row:first-child {
        display: none;
    }

    #manager-dashboard-cards .column {
        width: 100% !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    #manager-dashboard-cards .huge.icon {
        display: none;
    }

    #manager-dashboard-cards .normal.icon {
        display: inline-block;
    }

    #manager-dashboard-cards .extra.content {
        display: none;
    }
}

@media (max-width: 992px) {
    #manager-dashboard-cards .card {
        margin-bottom: 1em;
    }
}

#manager-dashboard-cards .card .content {
    text-align: center;
}

#manager-dashboard-cards .card .header, #manager-dashboard-cards .card .extra.content {
    text-align: left;
}

#manager-dashboard-cards .card .icon {
    margin-bottom: .3em;
    margin-top: .3em;
}

#manager-dashboard-cards .card .button {
    color: #fff !important;
}

#manager-dashboard-cards .card .button:hover {
    color: #3B83C0 !important;
}

#manager-dashboard-cards .dimmer {
    background-color: #3B83C0 !important;
}

/* INDEX SECTION */

#manager-breadcrumbs {
    margin-bottom: 0px !important;
    padding-top: 1em;
}

#manager-breadcrumbs a {
    color: #858585 !important;
}

@media (max-width: 768px) {
    table.manager.table thead {
        display: none;
    }

    table.manager.table td:nth-child(2),
    table.manager.table td:nth-child(3),
    table.manager.table td:nth-child(4),
    table.manager.table td:nth-child(5),
    table.manager.table td:nth-child(6),
    table.manager.table td:nth-child(7),
    table.manager.table td:nth-child(8),
    table.manager.table td:nth-child(9),
    table.manager.table td:nth-child(10) {
        display: none;
    }

    .manager-index-description {
        display: none
    }

    table.manager.table td {
        border-top: 1px solid #d4d4d5 !important;
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }
}

/* FORM */

#manager-form-tabs {
    margin-bottom: 2rem;
    position: relative;
}

#manager-form-update {
    position: absolute;
    right: 0;
    bottom: 10px;
}

#manager-form-modtime {
    font-size: 1rem !important;
    padding-right: 1rem;
}

#manager-form-modtime abbr, #manager-form-modtime i {
    color: rgba(0, 0, 0, 0.4);
    border-bottom: none !important;
}

@media (max-width: 768px) {
    #manager-form-modtime {
        display: none;
    }
}

div.manager.main {
    width: 70% !important;
}

div.manager.rightside {
    width: 30%  !important;
}

@media (max-width: 768px) {
    div.manager.main {
        width: 100%  !important;
    }

    div.manager.rightside {
        width: 100%  !important;
    }
}

#manager-form-row {
    background-color: #fff;
    margin-left: 14px !important;
    margin-right: 14px !important;
    margin-top: -27px !important;
    padding-top: 14px !important;
}