/* GLOBAL */

@media (min-width: 1400px) {
    .ui.page.grid {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
}

/* LOGIN */

#manager-login-form {
    width: 50%;
    margin: auto;
    padding-top: 3em;
}

#manager-login-form > .message {
    margin-top: 0px !important;
}

@media (max-width: 768px) {
    #manager-login-form {
        width: 100%;
        margin: none;
    }
}

/* HEADER */

#hamburger {
    cursor: pointer;
    display: block;
    height: 50px;
    padding: 10px;
    position: absolute;
    width: 50px;
    z-index: 9999;
}

#hamburger div {
    width: 30px;
    height: 3px;
}

#hamburger div.top-menu {
    top: 0px;
}

#hamburger div.mid-menu {
    top: 9px;
}

#hamburger div.bottom-menu {
    top: 18px;
}

#manager-header-profile {
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: right;
    cursor: pointer;
}

#manager-header-profile img {
    margin-right: 10px;
}

@media (max-width: 768px) {
    #hamburger {
        padding-left: 0;
    }

    #hamburger div {
        width: 25px;
    }

    #manager-topbar div.one.wide.column {
        width: 10% !important;
        padding-right: 0 !important;
    }

    #manager-topbar div.fourteen.wide.column {
        width: 80% !important;
    }
}

.menui {
    background: #fff;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
}

#manager-search {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#manager-search input {
    background-color: #4C96D3;
    color: #fff;
}

#manager-search input:focus {
    background-color: #fff;
    color: #000;
    border-color: #2C7ABA;
}

#manager-search input::-webkit-input-placeholder {
   color: #fff;
}

#manager-search input:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

#manager-search input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

#manager-search input:-ms-input-placeholder {
   color: #fff;
}


#manager-masthead {
    margin-top: 0px !important;
}

#manager-topbar {
    background-color: #3B83C0;
}

#manager-topbar .grid {
    margin-top: 0px !important;
}

#manager-main-nav > div.grid {
    padding-top: 100px;
}

#manager-profile-nav > div.grid {
    padding-top: 34px;
}

#manager-main-nav a, #manager-profile-nav a {
    padding: 10px 10px 10px 14px;
    display: block;
}

#manager-main-nav a:hover, #manager-profile-nav a:hover {
    background-color: #3B83C0;
}

#manager-main-nav > div.grid h1, #manager-profile-nav > div.grid h1 {
    padding: 0 !important;
    margin: 0 !important;
}

#manager-main-nav > div.grid .divider, #manager-profile-nav > div.grid .divider {
    padding: 0 0 0 14px !important;
    margin: 0 !important;
}

#manager-main-nav, #manager-profile-nav {
    top: 0;
    left:0;
    z-index: 9990;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}

#manager-profile-nav {
    z-index: 19999;
}

#manager-profile-nav-close {
    cursor: pointer;
    font-size: 28px;
    float: right;
}

/* MENU */

.top-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mid-animate {
    opacity: 0;
}

.bottom-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

#manager-breadcrumbs {
    margin-bottom: 0px !important;
}

#manager-breadcrumbs a {
    color: #858585 !important;
}

#manager-gray-bar {
    background-color: #eee;
    margin-top: 14px;
}

/* DASHBOARD */

#manager-dashboard-cards {
    margin-top: 14px;
}

#manager-dashboard-cards .card {
    margin-bottom: 2em;
}

#manager-dashboard-cards .normal.icon {
    display: none;
}

@media (max-width: 768px) {
    #manager-dashboard-cards .column {
        width: 100% !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

    #manager-dashboard-cards .huge.icon {
        display: none;
    }

    #manager-dashboard-cards .normal.icon {
        display: inline-block;
    }

    #manager-dashboard-cards .extra.content {
        display: none;
    }
}

@media (max-width: 992px) {
    #manager-dashboard-cards .card {
        margin-bottom: 1em;
    }
}

#manager-dashboard-cards .card .content {
    text-align: center;
}

#manager-dashboard-cards .card .header, #manager-dashboard-cards .card .extra.content {
    text-align: left;
}

#manager-dashboard-cards .card .icon {
    margin-bottom: .3em;
    margin-top: .3em;
}

#manager-dashboard-cards .card .button {
    color: #fff !important;
}

#manager-dashboard-cards .card .button:hover {
    color: #3B83C0 !important;
}

#manager-dashboard-cards .dimmer {
    background-color: #3B83C0 !important;
}

/* INDEX SECTION */

@media (max-width: 768px) {
    table.manager.table thead {
        display: none;
    }

    table.manager.table td:nth-child(2),
    table.manager.table td:nth-child(3),
    table.manager.table td:nth-child(4),
    table.manager.table td:nth-child(5),
    table.manager.table td:nth-child(6),
    table.manager.table td:nth-child(7),
    table.manager.table td:nth-child(8),
    table.manager.table td:nth-child(9),
    table.manager.table td:nth-child(10) {
        display: none;
    }

    .manager-index-description {
        display: none
    }

    table.manager.table td {
        border-top: 1px solid #d4d4d5 !important;
        padding-top: 1em !important;
        padding-bottom: 1em !important;
    }
}

#manager-index-count {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 14px;
    margin-top: 24px
}

#manager-index-header {
    padding-top: 14px;
}

#manager-index > div:last-child {
    margin-top: -28px;
}

/* FORM */

#manager-form-tabs {
    position: relative;
    margin-top: 28px;
}

#manager-form-update {
    position: absolute;
    right: 0;
    bottom: 10px;
}

#manager-form-modtime {
    font-size: 1rem !important;
    padding-right: 1rem;
}

#manager-form-modtime abbr, #manager-form-modtime i {
    color: rgba(0, 0, 0, 0.4);
    border-bottom: none !important;
}

@media (max-width: 768px) {
    #manager-form-modtime {
        display: none;
    }
}

div.manager.main {
    width: 70% !important;
}

div.manager.rightside {
    width: 30%  !important;
}

@media (max-width: 768px) {
    div.manager.main {
        width: 100%  !important;
    }

    div.manager.rightside {
        width: 100%  !important;
    }
}

#manager-form-row {
    background-color: #fff;
    margin-left: 14px !important;
    margin-right: 14px !important;
    margin-top: -27px !important;
    padding-top: 14px !important;
}

#manager-form-notice {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0
    left: 0;
    width: 100%;
}