<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{{page_title}}</title>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css" />
        <script src="/build/manager-bundle.js"></script>
    </head>
    <body class="document semantic-cm" date-savemode="">
        {{{ManagerHeader}}}
        <div id="manager-index" class="manager">
            {{{form}}}
        </div>
    </body>
</html>