<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{page_title}}</title>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css" />
        <script src="/build/manager-bundle.js"></script>
    </head>
    <body class="document semantic-cm" date-savemode="">
        <div class="form-notice ui top inverted teal sidebar menu">
            <div class="container">
                <h1>Hello</h1>
            </div>
        </div>
        {{{ManagerHeader}}}
        <div class="manager">
            {{{form}}}
        </div>
    </body>
</html>