<form class="ui form segment" data-xhr="true" method="post" action="/Manager/api/form/Login" style="width: 50%; display: inline-block; margin: auto; text-align: left">
    <div class="ui teal ribbon label" style="margin-bottom: 20px">Manger Login</div>
    <div class="ui warning message">
        <i class="close icon"></i>
        <div class="header">There was a problem</div>
        <ul class="list">
        </ul>
    </div>
    <div class="field" style="width: 96%; margin-left: 2%">
        <label>Email</label>
        <div class="ui left labeled icon input">
            {{{email}}}
            <i class="user icon"></i>
            <div class="ui corner label">
                    <i class="icon asterisk"></i>
            </div>
        </div>
    </div>

    <div class="field" style="width: 96%; margin-left: 2%">
        <label>Password</label>
        <div class="ui left labeled icon input">
            {{{password}}}
            <i class="lock icon"></i>
            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <input type="hidden" name="Manager__Form__Login[route]" value="/Manager" />
    {{{id}}}
    {{{form-token}}}
    <input type="submit" class="fluid ui blue submit button" value="Login" style="margin-top: 20px; margin-left: 2%; width: 96%" />
</form>