<form id="manager-login-form" class="ui form segment" data-xhr="true" method="post" action="/Manager/api/form/Login">
    <div class="ui top attached label">Semantic CM Login</div>
    <div class="ui warning message">
        <div class="header">There was a problem</div>
        <ul class="list"></ul>
    </div>
    <div class="field">
        <label>Email</label>
        {{{email}}}
    </div>
    <div class="field">
        <label>Password</label>
        {{{password}}}
    </div>
    {{{id}}}
    {{{form-token}}}
    <input type="hidden" name="Manager__Form__Login[route]" value="/Manager">
    <input type="submit" class="fluid ui blue submit button" value="Login">
</form>