<strong>Managers</strong>
{{#each managers}}
	<div>{{titleCard}}</div>
{{/each}}
<br />
<br />
<pre>
[
    {
        "titleCard": "Blurbs",
        "decriptionCard": "%count% blurbs",
        "acl": [
            "content",
            "admin",
            "superadmin"
        ],
        "icon": "someicon",
        "category": "Content"
    }
]
</pre>