			<div class="top-container">
				<div class="ui huge breadcrumb container">
					<a class="section" href="/"><h2>Dashboard</h2></a>
					<i class="right arrow icon divider"></i>
					<a class="section" href="/?content"><h2>Content</h2></a>
					<i class="right arrow icon divider"></i>
					<a class="active section"><h2>Menu Items</h2></a>
				</div>
				<div class="ui ignored divider container padding"></div>
				<div class="ui two column grid container padding">
				<div class="column fontSize">
					<p>A blog is a discussion or informational site published on the World Wide Web.</p>
				</div>
				<div id="right" class="column fontSize">
					<p>1-40 of 50 Total</p>
				</div>
	  		</div>
				<div class="ui ignored divider"></div>
	 		</div>

			<div class="bottom-container">
				<div class="ui borderless pagination menu small container">
					<a class="item">
						<i class="icon left arrow"></i>
					</a>
					<a class="active item">1</a>
					<a class="item">2</a>
					<a class="item">3</a>
					<a class="item">4</a>
					<a class="item">5</a>
					<a class="item">
						<i class="icon right arrow"></i>
					</a>
				</div>

				<div class="manager table buttons">
					<div class="ui small button export">Export</div>
					<div class="ui small button filter">Filter</div>
					<div class="ui teal small button manager add">Add</div>
				</div>

				<table class="ui large table segment manager">
			  		<thead>
						<tr>
							<th>Title</th>
							<th>Delete</th>
						</tr>
			  		</thead>
			   		<tbody>
			   			{{#each menus}}
							<tr data-id="{{dbURI}}">
								<td>{{label}}</td>
								<td>
									<div class="manager trash ui icon button">
	                 					<i class="trash icon"></i>
	                 				</div>
	             				</td>
							</tr>
						{{/each}}
					</tbody>
				</table>

			<div class="ui borderless pagination menu small container">
				<a class="item">
					<i class="icon left arrow"></i>
				</a>
				<a class="active item">1</a>
				<a class="item">2</a>
				<a class="item">3</a>
				<a class="item">4</a>
				<a class="item">5</a>
				<a class="item">
					<i class="icon right arrow"></i>
				</a>
	 		</div>