			{{#EmbeddedCollectionHeader Sub Menu}}{{/EmbeddedCollectionHeader}}
			{{#if link_individual}}
				<table class="ui table manager segment">
					<thead>
						<tr><th>Label</th></tr>
					</thead>
					<tbody>
						{{#each link_individual}}
							<tr data-id="{{dbURI}}">
								<td>{{title}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			  {{else}}
				{{#EmbeddedCollectionEmpty image}}{{/EmbeddedCollectionEmpty}}
			{{/if}}