			{{#EmbeddedCollectionHeader SubMenu}}{{/EmbeddedCollectionHeader}}
			{{#if link}}
				<table class="ui table manager segment sortable">
					<thead>
						<tr>
							<th><i class="shuffle basic icon"></i></th>
							<th>Label</th>
						</tr>
					</thead>
					<tbody>
						{{#each link}}
							<tr data-id="{{dbURI}}">
								<td class="handle"><i class="reorder icon"></i></td>
								<td>{{title}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{else}}
				{{#EmbeddedCollectionEmpty submenu}}{{/EmbeddedCollectionEmpty}}
			{{/if}}