            <div class="top-container">
                {{#CollectionHeader}}{{/CollectionHeader}}
            </div>

            <div class="bottom-container">
               {{#if pages}}
		                {{#CollectionPagination}}{{/CollectionPagination}}
		                {{#CollectionButtons}}{{/CollectionButtons}}
		                
		                <table class="ui large table segment manager sortable">
		                    <col width="10%">
		                    <col width="40%">
		                    <col width="40%">
		                    <col width="10%">
		                    <thead>
		                        <tr>
		                            <th><i class="shuffle basic icon"></i></th>
		                            <th>Title</th>
		                            <th>Status</th>
		                            <th class="trash">Delete</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        {{#each pages}}
		                            <tr data-id="{{dbURI}}">
		                                <td class="handle"><i class="reorder icon"></i></td>
		                                <td>{{title}}</td>
		                                <td>{{#Capitalize}}{{status}}{{/Capitalize}}</td>
		                                <td>
		                                    <div class="manager trash ui icon button">
		                                         <i class="trash icon"></i>
		                                     </div>
		                                 </td>
		                            </tr>
		                        {{/each}}
		                    </tbody>
		                </table>

		                {{#CollectionPagination}}{{/CollectionPagination}}
		           {{else}}
					{{#CollectionEmpty}}{{/CollectionEmpty}}
				{{/if}}
            </div>