			{{#EmbeddedCollectionHeader Images}}{{/EmbeddedCollectionHeader}}
			{{#if subcategory}}
				<table class="ui table manager segment">
					<thead>
						<tr><th>Title</th></tr>
					</thead>
					<tbody>
						{{#each subcategory}}
							<tr data-id="{{dbURI}}">
								<td>{{title}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
		      {{else}}
			   {{#EmbeddedCollectionEmpty subcategory}}{{/EmbeddedCollectionEmpty}}
	       {{/if}}