			{{#EmbeddedCollectionHeader Images}}{{/EmbeddedCollectionHeader}}
			{{#if image_individual}}
				<table class="ui table manager segment">
					<thead>
						<tr><th>Caption</th></tr>
					</thead>
					<tbody>
						{{#each image_individual}}
							<tr data-id="{{dbURI}}">
								<td>{{caption}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{else}}
				{{#EmbeddedCollectionEmpty image}}{{/EmbeddedCollectionEmpty}}
			{{/if}}