<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{page_title}}</title>
<!--
        <link href="/css/Manager/typeahead.js/typeahead.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/Manager/zeeshan/semantic.css">
        <link rel="stylesheet" href="/css/Manager/zeeshan/style.css">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/Manager/semantic/history.js"></script>
        <script src="/js/Manager/semantic/easing.js"></script>
        <script src="/js/Manager/semantic/ace.js"></script>
        <script src="/js/Manager/semantic/tablesort.js"></script>
        <script src="/js/Manager/semantic/waypoints.js"></script>
        <script src="/js/Manager/semantic/semantic.min.js"></script>
        <script src="/js/Manager/semantic/semantic.js"></script>
        <script src="/js/Manager/typeahead.js/hogan-2.0.0.js"></script>
        <script src="/js/Manager/typeahead.js/typeahead.min.js"></script>
        <script src="/js/Manager/manager.js"></script>
        <script src="/js/Manager/search.js"></script>
        <script src="/js/Manager/dashboard.js"></script>
-->
        <script src="/build/bundle.js"></script>
    </head>
    <body class="dashboard semantic-cm">
        {{{header}}}
        <div class="top-container">
            <div class="ui huge breadcrumb container">
                <a class="active section"><h2>Welcome to Semantic-CM</h2></a>
            </div>
            <div class="ui ignored divider container padding"></div>
            <div class="ui one column grid container padding">
                <div class="column fontSize">
                    <p><i class="help icon"></i> Click a card below to begin, or enter a search above.</p>
                </div>
            </div>
            <div class="ui ignored divider"></div>
        </div>
        <div class="bottom-container">
            <div class="container">
                {{{managers}}}
            </div>
        </div>
    </body>
</html>