<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{page_title}}</title>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700" rel="stylesheet" type="text/css" />
        <script src="/build/manager-bundle.js"></script>
    </head>
    <body class="dashboard semantic-cm">
        {{{ManagerHeader}}}
        <div class="top-container">
            <div class="ui huge breadcrumb container">
                <a class="active section"><h2>Welcome to Semantic-CM</h2></a>
            </div>
            <div class="ui ignored divider container padding"></div>
            <div class="ui one column grid container padding">
                <div class="column fontSize">
                    <p><i class="help icon"></i> Click a card below to begin, or enter a search above.</p>
                </div>
            </div>
            <div class="ui ignored divider"></div>
        </div>
        <div class="ui page grid" id="manager-dashboard-cards">
            <div class="doubling six column row">
                {{{managers}}}
            </div>
        </div>
    </body>
</html>