<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{{page_title}}</title>
        <script src="/build/manager-bundle.js"></script>
    </head>
    <body class="dashboard semantic-cm">
        {{{ManagerHeader}}}
        <div id="manager-gray-bar">
            <div class="ui page grid">
                <div class="row">
                    <div class="column">
                        <div id="manager-breadcrumbs" class="ui large breadcrumb">
                            {{{ManagerDashboardBreadcrumbs}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="manager-dashboard-cards" class="ui page grid">
            <div class="doubling five column row">
                {{{managers}}}
            </div>
        </div>
    </body>
</html>