<div class="ui fixed transparent inverted main menu" style="top: 0; border-bottom: 1px solid #464646;">
    <div class="container">
        <div class="title item"><span><strong>Manager:</strong> My Website</span><a class="ui teal button" href="/Manager">Dashboard</a></div><div class="item link"><a href="/Manager?content">Content</a></div><div class="item link"><a href="/Manager?reports">Reports</a></div><div class="item link"><a href="/Manager?people">People</a></div>  
        <div class="ui black buttons profile" style="float:right;margin-top:8.5px">
            <div class="ui button padding" style="height: 26px">
                <i class="user icon"></i>
            </div>
            <div class="ui floating dropdown icon tiny button padding" style="height: 26px;">
                <i class="dropdown icon"></i>
                <div class="menu">
                   <div class="item"><i class="user icon"></i><a href="/Manager/logout">Logout</a></div>
                   <div class="item"><i class="setting icon"></i>Update Password</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="masthead">
    <div class="container">
        <div id="omni" class="ui action icon input big dimmable" style="width: 100%">
            <div id="omnifilter" class="ui selection dropdown" style="width: 150px; position: absolute; top: 0; z-index: 1; padding: 15px 19px 11px 19px; font-size: 15px; height: 28px; border-top: 0px; border-bottom: 0px; border-left: 0px; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; background-color: transparent; text-align: left;">
                <input name="omnifilter" type="hidden" />
                <div class="default text">Everything</div>
                <i class="dropdown icon" style="float: right"></i>
                <div class="menu">{{{managers}}}</div>
            </div>
            <script>
            $('#omnifilter').dropdown();
            </script>
            <input id="omnisearch" placeholder="Search..." type="text" />
            <i class="search icon"></i>
        </div>
    </div>
</div>