<div class="ui fixed transparent inverted main menu">
    <div class="container">
        <div class="title item">
            <span><strong>Manager:</strong> My Website</span>
            <a class="ui teal button" href="/Manager">Dashboard</a>
        </div>
        <div class="item link">
            <a href="/Manager?content">Content</a>
        </div>
        <div class="item link">
            <a href="/Manager?reports">Reports</a>
        </div>
        <div class="item link">
            <a href="/Manager?people">People</a>
        </div>   
        <div class="right menu">
            <div class="vertically fitted borderless item"></div>
        </div>
    </div>
</div>
<div class="masthead segment">
    <div class="ui page grid">
        <div class="container">
            <div class="ui action input big" style="width: 100%">

<!--
<div class="ui selection dropdown">
  <input name="gender" type="hidden">
  <div class="default text">Gender</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="male">Male</div>
    <div class="item" data-value="female">Female</div>
  </div>
</div>
-->

                <input id="omnisearch" placeholder="Find..." type="text">
                <div class="ui teal button" style="width: 10%">Search</div>
            </div>
        </div>
    </div>
</div>